<div class="button">
  <button [class.active-button]="crossStroke" (click)="switchMode()">Ходит крестик</button>
  <button [class.active-button]="!crossStroke" (click)="switchMode()">Ходит нолик</button>
</div>


<table>
    <tr *ngFor="let m of matrix">
      <td *ngFor="let cell of m" (click)="cellClicked(cell)">
            <span *ngIf="cell.content == 0">
                <img src="assets/iconfinder_letter_X_blue_1553039.png" width="50px">
            </span>
            <span *ngIf="cell.content == 1">
              <img src="assets/iconfinder_number_0_blue_1553042.png" width="50px">
            </span>
      </td>
    </tr>
  </table>